/* body {
  background-color: var(--primary-bgc);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
} */

/*--------reset-----------*/
/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
} */
/* .link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  border: none;
  text-align: center;
  border-radius: 4px;
} */

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* .container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */

/*---------------site nav---------------*/
/* .header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo__header {
  color: var(--logo-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item:not(last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--timing-function);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-contacts__contacts .item + .item {
  margin-left: 50px;
}
.header-contacts__contacts .link {
  display: flex;
  align-items: baseline;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--timing-function);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-color);
}
.mail-icon,
.phone-icon {
  fill: currentColor;
} */

/*-----------------hero--------------*/

/* .hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bgc);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bgc);
}
.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 216px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-bgc);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background var(--timing-function);
}
.hero__btn:hover,
.hero__btn:focus {
  background: var(--hero-btn-active-color);
} */

/*-------------Section--------------*/
/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .section__title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
} */

/*---------------Особливості---------------*/
/* .features {
  padding-bottom: 0;
}

.features__list {
  display: flex;
}

.features__item {
  width: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}
.features__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: var(--secondary-bgc);
  border-radius: 4px;
}

.features__label{
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features__desc {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
} */

/*--------------Чим ми займаємось------------------*/
/* 
.work__list {
  display: flex;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}
.work__thumb {
  position: relative;
}
.work__back {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.work__label {
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bgc);
} */

/*--------------------Наша команда-----------------*/
/* .team {
  background-color: var(--secondary-bgc);
}

.team__list {
  display: flex;
}
.teamcard {
  padding-bottom: 30px;
  width: 270px;
  background-color: var(--primary-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teamcard:not(:last-child) {
  margin-right: 30px;
}

.teamcard__desc {
  padding: 30px 0 0;
}

.teamcard__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}
.teamcard__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
} */
/* .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: color var(--timing-function),
    background-color var(--timing-function);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-bgc);
}
.socials__icon {
  fill: currentColor;
} */

/*--------------------Постійні клієнти-----------------*/

.clients__list {
  display: flex;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
  transition: color var(--timing-function), border-color var(--timing-function);
}
.clients__item:not(last-child) {
  margin-right: 30px;
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/*---------------------Підвал----------------*/
/* 
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bgc);
}
.footer .container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}
/* .logo__footer {
  color: var(--primary-bgc);
} */
.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__post {
  color: var(--primary-bgc);
  transition: color var(--timing-function);
}
.address__contact {
  color: var(--footer-contact-color);
  transition: color var(--timing-function);
}

.footer-post:hover,
.footer-post:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
.footer .text,
.subscription__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-bgc);
}
.footer .socials-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-bgc);
  transition: background-color var(--timing-function);
}
.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: var(--accent-color);
}
.footer__form {
  margin-left: auto;
}
.subscription__data {
  display: flex;
}
.subscription__field {
  display: flex;
  align-items: center;
  padding-left: 16px;
  margin-right: 12px;
  outline: unset;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-contact-color);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color var(--timing-function);
}

.subscription__field:focus {
  border-color: var(--accent-color);
}
.subscription-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-bgc);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-btn__icon {
  margin-left: 10px;
  fill: currentColor;
}
*/

/*-----------Модальна форма-----------*/
/* 
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--timing-function), visibility var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--timing-function);

  padding: 40px;
  width: 528px;
  min-height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -70%) scale(1.1);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-icon {
  fill: currentColor;
  transition: fill var(--timing-function);
}

.close-icon:hover,
.close-button:focus {
  fill: var(--accent-color);
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--primary-text-color);
}
.modal-form__group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 448px;
}
.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}
.modal-form__wrapper {
  position: relative;
  margin-bottom: 10px;
}
.modal-form__field {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  outline: unset;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--timing-function);
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill var(--timing-function);
}

.modal-form__field:focus,
.modal-form__comment:focus {
  border-color: var(--accent-color);
}

.modal-form__field:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  resize: none;
  width: 100%;
  padding: 12px 16px;
  height: 120px;
  outline: unset;
  
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--timing-function);
}
.modal-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}
.modal-form__checkbox {
  appearance: none;
  width: 16px;
  height: 15px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color var(--timing-function);
}
.modal-form__checkbox:checked {
  border: none;
  outline-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.modal-form__agreement-text {
  user-select: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.modal-form__agreement-link {
  text-underline-offset: 3px;
  color: var(--accent-color);
}
.modal-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-bgc);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background var(--timing-function);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background: var(--hero-btn-active-color);
} */
/*---------------Сторінка Портфоліо-----------------*/

/*-------------------Фільтр---------------------*/
/* .filter {
  display: flex;
  padding-bottom: 16px;
  margin-bottom: 34px;
  justify-content: center;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  min-height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  background: var(--secondary-bgc);
  transition: color var(--timing-function),
    background-color var(--timing-function), box-shadow var(--timing-function);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-bgc);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.all {
  min-width: 73px;
}
.sites {
  min-width: 125px;
}
.apps {
  min-width: 112px;
}
.design {
  min-width: 103px;
}
.marketing {
  min-width: 130px;
} */
/*----------------Галерея проєктів-------------------*/
/* 
.projects {
  display: flex;
  flex-wrap: wrap;
}
.project-card {
  width: 370px;
  transition: box-shadow var(--timing-function);
}
.project-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.project-card__thumb {
  position: relative;

  overflow: hidden;
}
.project-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--timing-function), opacity var(--timing-function);
}
.project-card__link:hover .project-card__overlay {
  transform: translateY(0);
  opacity: 1;
}
.project-card__overtext {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bgc);
}

.project-card__label {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.project-card__title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.project-card__subtitle {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
} */