.features {
  @extend %section;
  padding-bottom: 0;

  &__list {
    @extend .list;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    }

  &__item {
      flex-basis: 100%;    

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px * (2 - 1)) / (2));
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 30px * (4 - 1)) / (4));
    }
  }

  &__img {
    @extend %centeredFlex;
    height: 120px;
    margin-bottom: 30px;
    background: var(--secondary-bgc);
    border-radius: 4px;
  }

  &__label {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      text-align: left;
    }

  }

  &__desc {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
  }
}
