.gallery {
  @extend %section;
}

.projects {
  @extend .list;
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  width: 370px;
  transition: box-shadow var(--timing-function);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  
  &__link{
    @extend .link;
  }

  &__thumb {
    position: relative;

    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform var(--timing-function), opacity var(--timing-function);
  }

  &__link:hover &__overlay {
    transform: translateY(0);
    opacity: 1;
  }

  &__overtext {
    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-bgc);
  }

  &__label {
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }

  &__title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
  }

  &__subtitle {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color);
  }
}
