.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @extend .list;
  display: flex;
  margin-left: auto;
  @media screen and (max-width: 1199px) {
  flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
  align-items: center;
  }

  &__item:not(last-child) {
    @media screen and (min-width: 1200px) {
    margin-left: 50px;
    }
  }

  &__icon {
    fill: currentColor;
  }
}

.header-contacts__link {
  @extend .link;
  display: flex;
  align-items: baseline;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
