.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--timing-function), visibility var(--timing-function);
  @media screen and (max-width: 479px) {
    padding: 94px 15px;
    overflow-y: scroll;
  }

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  min-height: 609px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and (min-width: 480px)  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--timing-function);
  } 

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    min-height: 581px;
  }

  .backdrop.is-hidden & {
    transform: translate(-50%, -70%) scale(1.1);
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  @extend %centeredFlex;
  cursor: pointer;

  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &__icon {
    fill: currentColor;
    transition: fill var(--timing-function);
  }

  &__icon:hover,
  &__icon:focus {
    fill: var(--accent-color);
  }
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;

  color: var(--primary-text-color);
  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}
.modal-form__group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 370px;
  @media screen and (min-width: 1200px) {
    max-width: 448px;
  }
}
.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}
.modal-form__wrapper {
  position: relative;
  margin-bottom: 10px;
}
.modal-form__field {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  outline: unset;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--timing-function);
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill var(--timing-function);
}

.modal-form__field:focus,
.modal-form__comment:focus {
  border-color: var(--accent-color);
}

.modal-form__field:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  resize: none;
  width: 100%;
  padding: 12px 16px;
  height: 120px;
  outline: unset;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--timing-function);

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
    @media screen and (min-width: 1200px) {
      font-size: 12px;
      line-height: 1.17;
    }
  }
}

.modal-form__agreement {
  @extend %centeredFlex;
  gap: 7px;
  margin-bottom: 30px;
}
.modal-form__checkbox {
  appearance: none;
  width: 16px;
  height: 15px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color var(--timing-function);

  &:checked {
    border: none;
    outline-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  }
}

.modal-form__agreement-text {
  user-select: none;
  font-size: 12px;
  line-height: 1.1666;
  color: var(--secondary-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  line-height: 1.71;
  }
}
.modal-form__agreement-link {
  text-underline-offset: 3px;
  color: var(--accent-color);
}
.modal-form-btn {
  @extend %centeredFlex;
  @extend .btn;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-bgc);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background var(--timing-function);

  &:hover,
  &:focus {
    background: var(--hero-btn-active-color);
  }
}
