.site-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @extend .list;
  display: flex;
  margin-left: 88px;
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }

  &__item:not(last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  @extend .link;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--timing-function);

  &.current {
    position: relative;
    color: var(--accent-color);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
