.work {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @extend %section;

  &__title {
    @extend %section__title;
  }

  &__list {
    @extend .list;
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__thumb {
    position: relative;
  }

  &__back {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }

  &__label {
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-bgc);
  }
}
