:root {
    /*----colors---*/
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --logo-color: #000000;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --primary-bgc: #ffffff;
    --secondary-bgc: #f5f4fa;
    --hero-bgc: #2f303a;
    --footer-bgc: #2f303a;
    --hero-btn-active-color: #188ce8;
    --icon-color: #afb1b8;
    /*----animations----*/
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }